body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 34px;
}

a {
    color: black;
    background-color: rgb(239, 233, 253);
    text-decoration: none;
    border: dashed rgb(127, 0, 201);
    border-radius: 20px;
    padding: 20px;  
}

.hw {
    margin-top: 60px;
}